.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__menu {
  justify-self: start;
  width: 391.48px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 10px 33px;
  padding-top: 1px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.header__links-list-item {
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
  padding: 0px;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  width: 148px;
  height: 105px;
}

.header__logo-image {
  max-height: 100%;
  object-fit: contain;
}

.address {
  font-weight: 400;
   font-style: normal; 
  font-size: 18px;
  line-height: 24.3px;
  display: flex;
  flex-direction: column;
  width: 240px;
}

.address__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.address__text {
  padding-left: 1px;
  padding-top: 1px;
}

.header__address {
  justify-self: end;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px;
  background: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cover__title {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  margin-top: 21px;
  margin-left: 30px;
  text-align: center;
}

.aligned-text_right {
  margin-top: 20px;
  text-align: right;
  position: relative;
  left: 30px;
}

.letter-spacing-extended {
  letter-spacing: 0.3em;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 106px;
}

.cover__description-text {
  color: #fff;
  font-size: 22px;
  line-height: 1.28;
  text-transform: uppercase;
  word-spacing: 19px;
}

.bet-button {
  border: 1px solid currentColor;
  padding: 12px 32px;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  margin: 0 0 27px 40px;
  font-size: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
  list-style: none;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 48px 40px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);

}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);

}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
  
}

.card__title,
.card__text {
  position: relative;
  z-index: 1;
  color: #fff;
}

.card__title {
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 5px;
}

.about {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 155px 24px 0;
}

.about__column_left {
  display: flex;
  justify-content: center;
}

.about__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  margin-top: 100px;
  font-size: 40px;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: start;
  padding: 180px 50px 82px;
}

.footer__social-list-item {
  list-style: none;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  justify-self: center;
  flex-direction: column;
  padding-top: 1px;
}

.footer__menu-list {
  text-align: center;
  font-size: 18px;
  line-height: 1.2;
  list-style: none;
}

.footer__menu-link {
  text-decoration: underline;
  text-decoration-thickness: 1px;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  gap: 48px;
  list-style: none;
  padding-top: 1px;
}

.footer__social-link {
  display: block;
  width: 48px;
}
